*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    color: #cdcdcd;
}
body{
    background: #252525;
}
h1{
    padding: 20px;
}
.gold{
    color: goldenrod;
}
.red{
    color: indianred;
}
.btn{
    background: goldenrod;
    display: inline-block;  
}